<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/cache  http://www.springframework.org/schema/cache/spring-cache.xsd">


	<context:component-scan base-package="com.unicom.impl" />
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://116.196.100.154:3306/dake?zeroDateTimeBehavior=convertToNull&amp;;autoReconnect=true" />
		<property name="username" value="dake" />
		<property name="password" value="qa1z2OK3M$%^" />
		<!-- druid 连接池的 -->
		<property name="filters" value="stat" />
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="10" />
		<!--initialSize: 初始化连接 -->
		<property name="initialSize" value="5" />
	</bean>

	<!-- 创建SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.unicom.dao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 配置事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事物注解试配置 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 事物切面配置（声明试） begin -->
<!-- 	<tx:advice id="txAdvice" transaction-manager="transactionManager"> -->
<!-- 		<tx:attributes> -->
<!-- 			<tx:method name="Update*" propagation="REQUIRED" read-only="false" -->
<!-- 				rollback-for="java.lang.Exception" /> -->
<!-- 			<tx:method name="Insert*" propagation="REQUIRED" read-only="false" /> -->
<!-- 		</tx:attributes> -->
<!-- 	</tx:advice> -->
<!-- 	<aop:config> -->
<!-- 		<aop:pointcut id="txPointcut" expression="execution(* com.unicom.impl.*.*(..))" /> -->
<!-- 		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice" /> -->
<!-- 	</aop:config> -->
	<!-- <tx:advice id="txAdvice" transaction-manager="transactionManager"> -->
	<!-- <tx:attributes> -->
	<!-- <tx:method name="*" propagation="REQUIRED" /> -->
	<!-- </tx:attributes> -->
	<!-- </tx:advice> -->
</beans>