<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.dao.VsitDataMapper">
	<resultMap id="orderResultMap" type="com.unicom.bean.VsitData">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="channel" property="channel" jdbcType="INTEGER" />
		<result column="product_id" property="product_id" jdbcType="INTEGER" />
		<result column="ip" property="ip" jdbcType="BIGINT" />
		<result column="cookie" property="cookie" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
		<result column="uri" property="uri" jdbcType="VARCHAR" />
		<result column="referer" property="referer" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="INTEGER" />

	</resultMap>
	<sql id="order_column">
		id,channel,product_id,ip,cookie,date,uri,referer,create_time
	</sql>




	<insert id="InsertData" parameterType="com.unicom.bean.VsitData">
		insert into
		bj_visit_data(channel,product_id,ip,cookie,date,uri,referer,create_time)
		values(#{channel},#{product_id},#{ip},#{cookie},#{date},#{uri},#{referer},#{create_time})
	</insert>
	
	<select id="SelectDataByIp" parameterType="com.unicom.bean.VsitData" resultType="com.unicom.bean.VsitData">
		SELECT * FROM bj_visit_data where ip=#{ip} and date=#{date} limit  0,1
	</select>

</mapper>